@import '../../styles/colors.scss';

.inputWrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
  position: relative;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    cursor: help;
  }
}
